{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <!-- Page Header-->
    <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="white-text">Connexion</h2>
                    <span class="white-text">Welcome back</span>
                    <ol class="breadcrumb">
                        <li><a href="#!">Home</a></li>
                        <li class="active">Connexion</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Content-->
    <section class="section-padding gray-bg log-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 card card-panel">
                    <h3 class="text-extrabold">Login to your account</h3>

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        <div class="input-field">
                            <label for="username">Adresse e-mail</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                            <span class="help-block">Type your email address.</span>
                        </div>

                        <div class="input-field">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                            <span class="help-block">Type your password.</span>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                            Décommentez cette section et ajoutez une option remember_me dans votre pare-feu pour activer cette fonctionnalité.
                            Voir https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <input type="checkbox" name="_remember_me" id="_remember_me">
                                <label for="_remember_me">Se souvenir de moi</label>
                            </div>
                        #}

                        <button class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20" type="submit">Connexion</button>

                        <div class="links">
                            <a href="{{ path('app_register') }}">Don't have an account? Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}