{% extends 'base.html.twig' %}


{% block meta %}
    <meta name="base_url" content="http://www.fgtechs.fr/z-pedro/wwwluxuryservices">
    <meta name="csrf-token" content="9Tnm0YBCxgVTxoqI1HzccsU5NuE9RughZmhpzgXn">
{% endblock meta %}


{% block linkicon %}
    <link rel="shortcut icon" href="assets/img/ico/fav.png">
{% endblock linkicon %}


{% block body %}
        <!-- Page -->
    <div class="page">

        <!-- Page Header-->
       <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="white-text">Feel free to contact us</h2>
					<span class="white-text">for any questions or demands</span>
					<ol class="breadcrumb">
						<li>
							<a href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="active">Contact</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<!-- Page Content-->
	{# <form method="POST" action="#!" accept-charset="UTF-8" id="formContact" class="light-gray-bg"> #}
		{{ form_start(form, {
			'attr': {
				'id': 'formContact', 
				'class': 'light-gray-bg', 
				'accept-charset': 'UTF-8'
			}
		}) }}
		{# <input name="job_id" type="hidden" value=""> #}
		<section class="section-padding">
			<div class="container">
				<div class="text-center mb-80">
					<h2 class="section-title text-uppercase">Drop us a line</h2>
					<p class="section-sub text-center">Whether your needs, desires or wishes are urgent or a little less, they will all be taken care of with the some efficiency by us.</p>
				</div>

				<div class="row">
					<div id="contactForm" class="col-xs-12 col-sm-12 col-md-8">
						<div class="row">
							<div class="col-md-6">
								<div class="input-field">
									{{ form_widget(form.prenom) }}
									{{ form_label(form.prenom) }}
									{{ form_errors(form.prenom, {
										'attr': {
											'class': 'form-error'
										}
									}) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-field">
									{{ form_widget(form.nom) }}
									{{ form_label(form.nom) }}
									{{ form_errors(form.nom, {
										'attr': {
											'class': 'form-error'
										}
									}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-field">
									{{ form_widget(form.email) }}
									{{ form_label(form.email) }}
									{{ form_errors(form.email, {
										'attr': {
											'class': 'form-error'
										}
									}) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-field">
									{{ form_widget(form.phone) }}
									{{ form_label(form.phone) }}
									{{ form_errors(form.phone, {
										'attr': {
											'class': 'form-error'
										}
									}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-field">
									{{ form_widget(form.message) }}
									{{ form_label(form.message) }}
									{{ form_errors(form.message, {
										'attr': {
											'class': 'form-error'
										}
									}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6 col-md-offset-3">
								<button type="submit" name="submit" class="btn btn-block gradient primary waves-effect waves-light submit-button">
									Send Message
								</button>
							</div>
						</div>
					</div>


					<div class="col-xs-12 col-sm-12 col-md-4 contact-info mt-40">

						<address>
							<i class="material-icons brand-color">&#xE55F;</i>
							<div class="address">
								<p>Luxury Services is based in Saint-Etienne, on Loire department</p>
							</div>
							<i class="material-icons brand-color">&#xE61C;</i>
							<div class="phone">
								<p>+33 (0) 6 60 06 66 00</p>
							</div>
							<i class="material-icons brand-color">&#xE916;</i>
							<div class="phone">
								<p>9 - 22h with 24/7 speaker</p>
							</div>
							<i class="material-icons brand-color">&#xE0E1;</i>
							<div class="mail">
								<p>
									<a href="#!">support[a]luxuryservices.com</a>
								</p>
							</div>
						</address>
					</div>
				</div>
			</div>
		</section>
		{{ form_end(form) }}
       
     <div id="map" style="height: 350px;">
    
    
                
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var map = L.map('map').setView([45.4386, 4.3871], 15); // Zoom niveau 15

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.marker([45.4386, 4.3871]).addTo(map)
            .bindPopup('Bienvenue les boloss')
            .openPopup();
    });
</script>
{% endblock body %}