{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name="base_url" content="http://www.fgtechs.fr/z-pedro/wwwluxuryservices">
    <meta name="csrf-token" content="9Tnm0YBCxgVTxoqI1HzccsU5NuE9RughZmhpzgXn">
{% endblock meta %}

{% block linkicon %}
    <link rel="shortcut icon" href="./assets/img/ico/fav.png">
{% endblock linkicon %}

{% block body %}
<body id="top">

<!-- Navigation -->

<div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">{{ offre_emploi.titre }}</h2>
                        <span class="white-text">Ref. {{ offre_emploi.id }}</span>
                        <ol class="breadcrumb">
                            <li>
                                <div class="portfolio-nav">
                                    <a href="#!" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                    <a href="#!" class="waves-effect waves-dark"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#!" class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section class="single-project-section section-padding light-gray-bg">
            <div class="container">
                <div class="project-overview">
                    <div class="row mb-80">
                        <div class="col-xs-12 col-md-8">
                            <p class="ref grey-text no-margin">Ref. {{ offre_emploi.id }}</p>
                            <h2>{{ offre_emploi.titre }}</h2>
                            <p>{{ offre_emploi.description }}</p>
                        </div>

                        <div class="col-xs-12 col-md-4 quick-overview">
                            <ul class="portfolio-meta">
                                <li><span> Published at </span>{{ offre_emploi.createdAt|date('Y-m-d')}}</li>
                                <li><span> Position </span>{{ offre_emploi.titre }}</li>
                                {# <li><span> Contract Type </span>{{ offre_emploi.typeContrat }}</li> #}
                                <li><span> Salary </span>{{ offre_emploi.salaire }} &euro;</li>
                                <li><span> Location </span>{{ offre_emploi.localisation }}</li>
                                {# <li><span> Starting date </span>{{ offre_emploi.dateDebut|date('Y-m-d') }}</li> #}
                            </ul>
                            {% if app.user %}
                                <form action="{{ path('candidature_postuler', {id: offre_emploi.id}) }}" method="post" style="display:inline;">
                                    <input type="hidden" name="candidat_id" value="{{ app.user.id }}">
                                    <button type="submit" class="btn btn-block gradient primary mt-30 waves-effect waves-light">Apply for this job</button>
                                </form>
                            {% else %}
                                <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="{{ path('app_login') }}">Login to Apply</a>
                            {% endif %}
                            <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div>
                        </div>
                    </div>
                </div>

                <nav class="single-post-navigation no-margin" role="navigation">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="previous-post-link">
                                <a class="btn border primary waves-effect waves-dark" href="#!">
                                    <i class="fa fa-long-arrow-left"></i>Previous
                                </a>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-4"></div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="next-post-link">
                                <a class="btn border primary waves-effect waves-dark" href="#!">
                                    Next <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

    </div>

</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    onAppReady(function() {
        $('.preload').remove();
    });
</script>

{% endblock %}