{% extends 'base.html.twig' %}

{% block title %}OffreEmploi{% endblock %}

{% block body %}
    <h1>OffreEmploi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre_emploi.id }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ offre_emploi.localisation }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre_emploi.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre_emploi.description }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ offre_emploi.salaire }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ offre_emploi.note }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ offre_emploi.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ offre_emploi.createdAt ? offre_emploi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ offre_emploi.updatedAt ? offre_emploi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_emploi_index') }}">back to list</a>

    

    {{ include('offre_emploi/_delete_form.html.twig') }}
{% endblock %}
